@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// VARIABLES
$green-color: #087f5b;
$typography-color: #555;

// MIXINS
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
    // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
    // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
    // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

//STYLING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: $typography-color;
}

// NAVBAR
.header {
  @apply flex items-center justify-between h-36 py-0 px-20 relative;
  border-bottom: 1px solid #eee;
}
.logo {
  @apply font-bold text-3xl lg:text-4xl;
}
.logo-link:link,
.logo-link:visited {
  color: $typography-color;
}
.header-class {
  color: $green-color;
}
.main-nav-list {
  @apply hidden lg:flex items-center gap-20 font-semibold;
}

.nav-open {
}
.main-nav-link {
  transition: all 0.3s;
  color: $typography-color;
  font-size: 1.8rem;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: $green-color;
}
.nav-button {
  @apply text-3xl lg:hidden md:hidden;
}

// HERO SECTION
.hero-section {
  padding: 4.8rem 0 9.6rem 0;

  &--hero {
    @apply grid mx-auto items-center gap-14 lg:grid-cols-2 gap-32;
    max-width: 130rem;
    padding: 0 3.2rem;
  }
  &--hero-text-box {
    @include respond(phone) {
      text-align: center;
    }
  }
  &--hero-img-box {
    @include respond(phone) {
      @apply row-start-1;
    }
  }

  &--hero-img-box img {
    @apply w-full;
    @include respond(phone) {
      @apply m-auto w-4/6;
    }
  }
  &--hero-description {
    @apply text-lg lg:text-3xl mb-24;
    line-height: 1.6;
  }
  &--hero-link:link,
  &--hero-link:visited {
    @apply inline-block uppercase font-semibold text-lg lg:text-3xl rounded-lg cursor-pointer;
    background-color: $green-color;
    color: #fff;
    padding: 1.6rem 3.2rem;
    @include respond(phone) {
      padding: 0.8rem 1.6rem;
    }
  }
}
.heading-primary {
  @apply font-bold text-5xl mb-12;
  font-size: 5rem;
  @include respond(phone) {
    font-size: 3rem;
  }
}
